.container {
    min-width: 300px;
    max-width: 400px;
    max-height: 400px;
    margin: 0 auto;
    padding: 15px;
    box-shadow: 0px 4px 8px #00000033;
    border-radius: 6px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.submit {
    width: 100%;
    margin-top: 10px;
}

.title {
    text-align: center;
    margin: 0px;
}

.error {
    color: red;
    margin-top: 5px;
    font-size: 16px;
}

.alert {
    text-align: center;
    @extend .error;
}

